<h2 class="status good" ng-show="loggedIn" >Offers of {{profile.name}}.</h2>

<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>


<ul data-ng-repeat="(offerId, offer) in offers">


    <li ng-if="offer.title" title="{{offer|json}}">{{offer.title}}

        <small> {{offerId}} von:{{offer.offeredBy}}<span ng-show="offer.alien">(alien)</span></small>
        <small ng-if="offer.unit"><br>Einheit: {{offer.unit}}</small>
        <i ng-if="offer.description"><br>{{offer.description}}</i><br>


        <span ng-init="swapFacade=createSwapRequestsFacade2(offerId,offer)">
        <a href
           ng-if="keyCount(offer.swapRequests)>0"
           ng-click="swapFacade.toggleDialog()"> {{ keyCount(offer.swapRequests) }}
            Tauschangebote </a>|<a href ng-click="dropOffer(offerId)">X</a>

        <span ng-if="swapFacade.visibleDialog">
          <pre ng-if="debug">
            {{swapFacade.swapRequests|json}}
          </pre>

            <ul data-ng-repeat="(swapRequestId,swapRequest) in  swapFacade.swapRequests ">
                <li ng-if="swapRequest.payFor || swapRequest.payWith">
                    <p title="{{swapRequest|json}}">
                        Anfrage von {{swapRequest.offeredBy}},
                        erstellt am: {{swapRequest.created | date:'short'}}
                        <small>{{swapRequestId}}</small>
                        <br>

                        {{swapRequest.payFor.offer.offeredBy}} <b
                            ng-if="swapRequest.payFor.offer.offeredBy==profile.name">(Du)</b> bietet
                        <i> {{swapRequest.payFor.amount}} X
                            {{swapRequest.payFor.unit}}</i>
                        {{swapRequest.payFor.offer.title}} &nbsp;gegen<br>

                        {{swapRequest.payWith.offer.offeredBy}}'s <b
                            ng-if="swapRequest.payWith.offer.offeredBy==profile.name">(Du)</b>
                        <i>{{swapRequest.payWith.amount}} X
                            {{swapRequest.payWith.unit}}</i>
                        {{swapRequest.payWith.offer.title}}
                        <small ng-if="debug">produkt:{{swapRequest.payWith.offerId}}, Anfrage {{swapRequestId}},
                            Erstellt: {{swapRequest.created | date:'short'}}
                        </small>
                        <br>
                        <span ng-if="swapRequest.offeredBy==profile.name">
                             <a href
                                ng-click="swapFacade.dropSwapRequest(swapRequest)">Anfrage löschen</a>&nbsp;
                        </span>
                        <span>
                             <a href
                                ng-click="swapFacade.dropSwapRequests()">Tausch annehmen</a>&nbsp;
                        </span>
                        <span ng-if="swapRequest.offeredBy!=profile.name">
                             <a href
                                ng-click="swapFacade.dropSwapRequests()">im Angebot
                                 aufnehmen</a>&nbsp;
                        </span>
                    </p>

                </li>
            </ul>

        </span>
        </span>


    </li>
</ul>



