<h2 class="status good" ng-show="loggedIn" xmlns="http://www.w3.org/1999/html">Offers of {{profile.name}}.</h2>

<!--
<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
<input type="checkbox" ng-model="showAlienInOwnProducts">zeige Fremdangebote

<ul data-ng-repeat="(offerId, offer) in offers">


    <li >{{offer.title}}

        <small> {{offerId}} von:{{offer.offeredBy}}<span ng-show="offer.alien">(alien)</span></small>
        <small ng-if="offer.unit"><br>Einheit: {{offer.unit}}</small>
        <i ng-if="offer.description"><br>{{offer.description}}</i>


        <span ng-init="swapFacade=createSwapRequestsFacade2(offerId,offer)">
        <a href
           ng-if="keyCount(offer.swapRequests)>0"
           ng-click="swapFacade.showSwaps()"> {{ keyCount(offer.swapRequests) }}
            Tauschangebote </a>|<a href ng-click="dropOffer(offerId)">X</a>
        <span ng-if="swapFacade.visibleDialog">
            <ul data-ng-repeat="(swapRequestProperties,swapRequestKey) in offer.swapRequests">
                <li>{{swapRequestKey}}</li>
            </ul>
            <ul>
                <li data-ng-repeat="(swapRequestId,swapRequestPropery) in  offer.swapRequests ">
                    <p title="{{swapRequestPropery.swapRequest|json}}">
                        {{swapRequestPropery.swapRequest.payFor.amount}} X
                        {{swapRequestPropery.swapRequest.payFor.unit}}&nbsp;gegen<br>

                        {{swapRequestPropery.swapRequest.payWith.amount}} X
                        {{swapRequestPropery.swapRequest.payWith.unit}}
                        {{offers[swapRequestPropery.swapRequest.payWith.offerId].title}}
                        <br>
                        <small>produkt:{{swapRequestPropery.swapRequest.payWith.offerId}}, Anfrage {{swapRequestId}},
                            Erstellt: {{swapRequestPropery.created | date:'short'}}
                            <a href
                               ng-click="dropSwapRequest(swapRequestId,otherOfferId)">X</a>
                        </small>
                    </p>

                </li>
            </ul>

        </span>
        </span>



    </li>
</ul>

-->

