<h2 class="status good" ng-show="loggedIn" xmlns="http://www.w3.org/1999/html">Offers of {{profile.name}}.</h2>
<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
<input type="checkbox" ng-model="showAlienInOwnProducts">zeige Fremdangebote

<h2>other offers</h2>
<div>
    <ul data-ng-repeat="(otherOfferId, otherOffer) in otherOffers">
        <li title=":{{otherOffer|json}}">
            {{otherOffer.title}}
            <small><br>Einheit: {{otherOffer.unit}}</small>
            <small>{{otherOfferId}}, von:{{otherOffer.offeredBy}}</small>

            <a href ng-click="swapRequestFacade=createSwapRequestFacade(otherOfferId,otherOffer)">tausch anbieten</a>
        </li>


        <div ng-show="swapRequestFacade.visibleDialog"
             style="padding: 10px; width:70%;  border: solid 1px #808080; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px">
            <div ng-include="'offers/swapOfferRequest.html'"></div>

            <h4>laufende Anfragen</h4>

            <p ng-if="empty(otherOffer.swapRequests)">
                keine Tauschanfragen - klicke auf "anbieten", um eine zu erstellen
            </p>
            <ul>
                <li data-ng-repeat="(swapRequestId,swapRequestPropery) in otherOffer.swapRequests ">
                    <p title="{{swapRequestPropery.swapRequest|json}}">
                        {{swapRequestPropery.swapRequest.payFor.amount}} X
                        {{swapRequestPropery.swapRequest.payFor.unit}}&nbsp;gegen<br>

                        {{swapRequestPropery.swapRequest.payWith.amount}} X
                        {{swapRequestPropery.swapRequest.payWith.unit}}
                        {{offers[swapRequestPropery.swapRequest.payWith.offerId].title}}
                        <br>
                        <small>produkt:{{swapRequestPropery.swapRequest.payWith.offerId}}, Anfrage {{swapRequestId}},
                            Erstellt: {{swapRequestPropery.created | date:'short'}}
                            <a href
                               ng-click="dropSwapRequest(swapRequestId,otherOfferId)">X</a>
                        </small>
                    </p>

                </li>
            </ul>
            <button ng-click="swapRequestFacade.visibleDialog=false">schließen</button>
            <!--
            <h4>angenommene</h4>
            <ul data-ng-repeat="(subOfferId,subOfferProperties) in otherOffer.internalTradedFor ">
                <li ng-show="offers[subOfferId]!=null">{{subOfferId}}**{{offers[subOfferId].title}} <a href
                                                                                                       ng-click="dropSwapProposal(otherOfferId,subOfferId)">entfernen</a>
                </li>
            </ul>

            <hr>

            <br>
-->
        </div>
    </ul>

</div>
<hr>
<div ng-include="'offers/createOfferDialog.html'"></div>