

<div class="container" id="main">
    <div class="row">

        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="(offerId, offer) in offers" ng-if="$index%3==0"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="(offerId, offer) in offers" ng-if="$index%3==1"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="(offerId, offer) in offers" ng-if="$index%3==2"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
    </div>
    <!--/row-->

</div><!--/main-->