









 <div class="container" id="main">


     <div class="row"  data-ng-show="loading">
         <div class="col-md-4 col-sm-6">
             <div class="panel panel-default">
                 <div class="panel-body">
                 <span> loading  <i class="fa fa-spinner fa-spin"></i></span>
                     </div>
             </div>
         </div>
     </div>


     <div class="row">

        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="product in products" ng-if="$index%3==0"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="product in products" ng-if="$index%3==1"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default" data-ng-repeat="product in products" ng-if="$index%3==2"
                 ng-include=" 'myoffers/mycard-template.html' ">
            </div>
        </div>
    </div>
    <!--/row-->

</div><!--/main-->